
###> symfony/framework-bundle ###
APP_SECRET=
###< symfony/framework-bundle ###

# DATABASE_URL="sqlite:///%kernel.project_dir%\var\data_%kernel.environment%.db"
DATABASE_URL="postgresql://user_a_preciser:idem_avec_mdp!@127.0.0.1:5432/nis2dev?serverVersion=17&charset=utf8"
